
@media screen and (max-width: 600px)
{
    #name
    {
        color: #A18835;
        font-size: 2rem;
        margin-left: 50px;
        margin-top: 600px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        bottom: 520px;
        left: 10px;
    }

    #three
    {
        color: #011FE0;
        font-size: 2rem;
        margin-left: 50px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        bottom: 330px;
        left: 70px;
    }

    #two
    {
        color: #E0B012;
        font-size: 2rem;
        margin-left: 50px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        bottom: 130px;
        left: 70px;
    }

   body
   {
      background-image: url('images/BrickWall3\ Phone\ Portrait.png'); 
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
   }
}

@media screen and (min-width: 601px) and (max-width:1200px)
{

   body
   {
      background-image: url('images/BrickWall3\ Phone\ Landscape.png'); 
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
   }

#name
    {
        color: #A18835;
        font-size: 2.7rem;
        margin: 0;
        margin-left: 255px;
        margin-bottom: 100px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        top: 25px;
        left: 40px;
    }

    #three
    {
        color: #011FE0;
        font-size: 2.7rem;
        margin-left: 195px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        top: 100px;
        left: 30px;
    }

    #two
    {
        color: #E0B012;
        font-size: 2.7rem;
        margin-left: 195px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        left: 350px;
        top: 30px;
    }
}

@media screen and (min-width: 1201px)
{
   body
   {
      background-image: url('images/BrickWall3\ Laptop\ Screen.png');
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;    
   }

#name
    {
        color: #A18835;
        font-size: 4.5rem;
        margin: 0;
        margin-left: 425px;
        margin-top: 50px;
        white-space: nowrap;
        transition: all 2s ease;
        position: relative;
        top: 50px;
    }

    #three
    {
        color: #011FE0;
        font-size: 6rem;
        margin: 0;
        margin-left: 290px;
        margin-top: 330px;
        white-space: nowrap;
        transition: all 2s ease;
    }

    #two
    {
        color: #E0B012;
        font-size: 6rem;
        margin: 0;
        margin-left: 750px;
        margin-top: -110px;
        white-space: nowrap;
        transition: all 2s ease;
    }
}







