body /* this my body stuff background and some padding so the content is not exactly on the edges */
{
  background-color: black;
}

@keyframes hueShift /* a hue shift animation*/
{
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(20deg); }
}

@keyframes flicker-yellow /* a flicker animation*/
{
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5EE42,
      0 0 10px #F5EE42,
      0 0 40px #F5EE42;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker-orange /* a flicker animation*/
{
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5C549,
      0 0 10px #F5C549,
      0 0 40px #F5C549;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker /* a flicker animation*/
{
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #4e43e0,
      0 0 10px #4e43e0,
      0 0 40px #4e43e0;
  }

  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

.abouttext:hover /* this is to play a animation when the user hovers over the text*/
{
  animation: flicker 5s infinite;
}

.threedeetext:hover /* this is to play a animation when the user hovers over the text*/
{
  animation: flicker-yellow 5s infinite;
}

.twodeetext:hover /* this is to play a animation when the user hovers over the text*/
{
  animation: flicker-orange 5s infinite;
}

.abouttext /* this is the text syling with a animation*/
{
    color: #4e43e0;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;

  animation: hueShift 5s infinite alternate;

      text-shadow:
    0 0 5px #4e43e0,
    0 0 10px #4e43e0,
    0 0 20px #4e43e0,
    0 0 40px #4e43e0;
}

.threedeetext /* this is the text syling with a animation*/
{
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  color: #F5EE42;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 5s infinite alternate;
}

.twodeetext /* this is the text syling with a animation*/
{
  color: #F5C549;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  text-shadow: 0 0 20px #F5C549, 0 0 40px #F5C549;
  
  animation: hueShift 5s infinite alternate;
}

.nav /* the container for my nav objects with settings the objects are centered*/
{
  display: flex;     
  gap: 2em;          
  align-items: center;  
  justify-content: center; 
  padding: 1em 1em 0.5em 1em; 
}

.nav a /* this makes it so the link does not have a line underneath it*/
{
  text-decoration: none;
}

.about a /* this makes it so the link does not have a line underneath it*/
{
  text-decoration: none;
  color: inherit;
}

h1:hover /* this is to play a animation when the user hovers over the text*/
{
    animation: flicker-yellow 5s infinite;
}

h1 /* this is the text syling with a animation*/
{
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;  /* or any weight the font supports */
  font-style: normal;
  color: #F5EE42;
  text-align: center;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 5s infinite alternate;
}

h2 /* this is the text syling with a animation*/
{
  margin-top: 0; /* reduces the titles distance from the nav bar*/
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  color: #F5EE42;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 10s infinite alternate;
}

.descriptionbox a /* this makes it so the link does not have a line underneath it*/
{
  text-decoration: none;
  color: inherit; 
}

.fade-out /* this is the beginning of the fade out effect*/
{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: black; 
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.fade-out.active /* when the fade effect is active*/
{
  pointer-events: all;
  opacity: 1;
}


.image /* makes the a responsive box with a fixed aspect ratio and rounded corners*/
{
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  overflow: hidden;
  border-radius: 10px;
}

.image img /* makes the image scale inside without distortion or cropping and allowing for black bars if necessary*/
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  
  background-color: black;
}

.card /* this is the card that will hold the content for the page*/
{
  padding: 1em;
  border-radius: 10px;
}

.grid-container /* this is the grid - it arranges my items into colums and rows*/
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  justify-content: center;
}

@media screen and (max-width: 600px) /* adjusts the texts for different screens and adds smooth transition*/
{
h1
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

h2
{
    font-size: 2rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1rem;
    transition: all 2s ease;
}

}


@media screen and (min-width: 601px) and (max-width:1200px) /* adjusts the texts for different screens and adds smooth transition*/
{
h1
{
    font-size: 2rem;
    transition: all 2s ease;
}

h2
{
    font-size: 3rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

}


@media screen and (min-width: 1201px) /* adjusts the texts for different screens and adds smooth transition*/
{
h1
{
    font-size: 2.5rem;
    transition: all 2s ease;
}

h2
{
    font-size: 5rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

}