body
{
  background-color: black;
}

@keyframes hueShift 
{
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(20deg); }
}

@keyframes flicker-yellow 
{
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5EE42,
      0 0 10px #F5EE42,
      0 0 40px #F5EE42;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker-orange {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5C549,
      0 0 10px #F5C549,
      0 0 40px #F5C549;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #4e43e0,
      0 0 10px #4e43e0,
      0 0 40px #4e43e0;
  }

  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

.abouttext:hover 
{
  animation: flicker 5s infinite;
}

.threedeetext:hover
{
  animation: flicker-yellow 5s infinite;
}

.twodeetext:hover
{
  animation: flicker-orange 5s infinite;
}

.abouttext
{
    color: #4e43e0;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;

  animation: hueShift 5s infinite alternate;

      text-shadow:
    0 0 5px #4e43e0,
    0 0 10px #4e43e0,
    0 0 20px #4e43e0,
    0 0 40px #4e43e0;
}

.threedeetext
{
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  color: #F5EE42;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 5s infinite alternate;
}

.twodeetext
{
  color: #F5C549;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  text-shadow: 0 0 20px #F5C549, 0 0 40px #F5C549;
  
  animation: hueShift 5s infinite alternate;
}

.nav 
{
  display: flex;     
  gap: 2em;          
  align-items: center;  
  justify-content: center; 
  padding: 1em 1em 0.5em 1em; 
}

.nav a 
{
  text-decoration: none;
}

.about a {
  text-decoration: none;
  color: inherit;
}

h1:hover
{
    animation: flicker-yellow 5s infinite;
}

h1
{
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;  /* or any weight the font supports */
  font-style: normal;
  color: #F5EE42;
  text-align: center;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 5s infinite alternate;
}

h2
{
  margin-top: 0;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400; 
  font-style: normal;
  color: #F5EE42;

  text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

  animation: hueShift 10s infinite alternate;
}

.descriptionbox a
{
  text-decoration: none;
  color: inherit; 
}

.fade-out {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: black; 
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}
.fade-out.active {
  pointer-events: all;
  opacity: 1;
}

img 
{
    transition: transform 0.3s ease-in-out;
}

img:hover 
{
    transform: scale(1.2); 
}

.image {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  
  background-color: black;
}

.card
{
  padding: 1em;
  border-radius: 10px;
}

.grid-container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
h1
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

h2
{
    font-size: 2rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1rem;
    transition: all 2s ease;
}

}




@media screen and (min-width: 601px) and (max-width:1200px) {
h1
{
    font-size: 2rem;
    transition: all 2s ease;
}

h2
{
    font-size: 3rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

}

@media screen and (min-width: 1201px) {
h1
{
    font-size: 2.5rem;
    transition: all 2s ease;
}

h2
{
    font-size: 5rem;
    transition: all 2s ease;
    text-align: center;
}

h3
{
    font-size: 1.5rem;
    transition: all 2s ease;
}

}