body
{
  padding: min(50px, 7%);
  background-color: black;
}

.card
{
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}

.grid-container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 5px;
  justify-content: center;
}

.card:hover .name 
{
  animation: flicker 5s infinite;
}

.card:hover .dee 
{
  animation: flicker-yellow 5s infinite;
}

.card:hover .two 
{
  animation: flicker-orange 5s infinite;
}

body:has(.card:hover .two) {
  background-color:  #4e43e0;
  transition: background-color 0.5s ease;
}

body:has(.card:hover .dee) {
  background-color: #F5C549;
  transition: background-color 0.5s ease;
}

body:has(.card:hover .name) {
  background-color:  #F5EE42;
  transition: background-color 0.5s ease;
}

.name
{
  color: #4e43e0;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;  /* or any weight the font supports */
  font-style: normal;

  animation: hueShift 5s infinite alternate;

      text-shadow:
    0 0 5px #4e43e0,
    0 0 10px #4e43e0,
    0 0 20px #4e43e0,
    0 0 40px #4e43e0;
}

.dee
{
  color: #F5EE42;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;  /* or any weight the font supports */
  font-style: normal;

    text-shadow: 0 0 20px #F5EE42, 0 0 40px #F5EE42;

      animation: hueShift 5s infinite alternate;
}

.two
{
  color: #F5C549;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;  /* or any weight the font supports */
  font-style: normal;

  text-shadow: 0 0 20px #F5C549, 0 0 40px #F5C549;
  
  animation: hueShift 5s infinite alternate;
}

@media screen and (max-width: 600px) {
h1
{
    font-size: 3rem;
    transition: all 2s ease;
}

}


@media screen and (min-width: 601px) and (max-width:1200px) {
h1
{
    font-size: 7rem;
    transition: all 2s ease;
}

}

@media screen and (min-width: 1201px) {
h1
{
    font-size: 9rem;
    transition: all 2s ease;
}

}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #4e43e0,
      0 0 10px #4e43e0,
      0 0 40px #4e43e0;
  }

  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker-yellow {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5EE42,
      0 0 10px #F5EE42,
      0 0 40px #F5EE42;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes flicker-orange {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #F5C549,
      0 0 10px #F5C549,
      0 0 40px #F5C549;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

@keyframes hueShift {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(20deg); }
}



